<aside class="aside">

  <img src="/img/aside-avatar.jpg" class="aside__image foo " alt="image of Kai 'kaidez' Gittens">

  <p class="aside__text foo ">
    all learning resources curated by <a href="http://kaidez.com/">@kaidez</a>
  </p>

</aside>