<header class="header" id="headerElement">

  <h1 class="header__title" id="title">The JavaScript Canon</h1>

  <div class="header__inner-div">
    <a href="/" class="header__logo-link">
      <svg class="header__logo" width="70px" height="70px" alt="Logo for the JavaScript Canon" id="logo">
        <image class="header__logo" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/js-logo-homepage.svg" src="/img/js-logo-homepage.png" width="70px" height="70px" alt="Logo for the JavaScript Canon" id="logo"></image>
      </svg>
    </a>

  <h2 class="header__subtitle" id="subtitle">
    A list of great JavaScript learning resources that <a href="http://twitter.com/kaidez">Kai Gittens</a> uses to practice implementing various code things.
  </h2>
  </div>
  <nav class="nav">
    <h2 class="nav__header">Main Navigation</h2>
    <ul class="nav__list">
      <li class="nav__list-item"><a href="/about/">about</a></li>
      <li class="nav__list-item"><a href="https://github.com/kaidez/javascript-canon/">view source on github</a></li>
    </ul>
  </nav>

</header> <!-- #headerElement -->