<head>
  <meta charset="utf-8">
  <% if(pageID == 'about') { %>
    <title>The JavaScript Canon - About the JS Canon</title>
    <link rel="canonical" href="http://jscanon.io/about"/>
    <meta name="description" content="JavaScript Canon: about the JavaScript Canon">
  <% } else{ %>
   <title>The JavaScript Canon</title>
   <link rel="canonical" href="http://jscanon.io/"/>
    <meta name="description" content="JavaScript Canon: a curated list of the best JavaScript learning resources and a code practice site for Kai Gittens">
  <% } %>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website"/>
  <% if(pageID == 'about') { %>
    <meta property="og:title" content="The JavaScript Canon - About the JS Canon"/>
    <meta property="og:description" content="JavaScript Canon: about the JavaScript Canon">
  <% } else{ %>
    <meta property="og:title" content="The JavaScript Canon"/>
    <meta property="og:description" content="JavaScript Canon: a curated list of the best JavaScript learning resources and a code practice site for Kai Gittens" />
  <% } %>
  <meta property="og:site_name" content="kaidez"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <link href="/css/style-home.css" media="all" rel="stylesheet">
</head>
