/* Variables */
/* Global yellow color */
/* Shared margin value for header elements on wide view */
/* Globally-shared line-height value */
/* Shared width on some elements for mobile */
/*
 * HELPER CLASSES
 */
/* Off-screen text-indent */
/*
 * HELPER CLASSES END
 */
@media only screen and (min-width: 320px) {
  /* Small screen, non-retina */ }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  /* Small screen, retina, stuff to override above media query */ }

@media only screen and (min-width: 1300px) {
  /* Large screen, non-retina */ }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1300px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-resolution: 192dpi) and (min-width: 1300px), only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  /* Large screen, retina, stuff to override above media query */ }

/* Generic fade in and fade out animations...pretty reusable */
/* For Webkit */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* For other browsers */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* Stop fade in/fade out animations */
/* Very specific animations for scaling the logo in and out on mobile
 * devices
 */
/* For Webkit */
@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1) translateY(0px); }
  to {
    -webkit-transform: scale(0.6) translateY(-22px); } }

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0.6) translateY(-22px); }
  to {
    -webkit-transform: scale(1) translateY(0px); } }

/* For other browsers */
@keyframes scaleOut {
  from {
    transform: scale(1) translateY(0px); }
  to {
    transform: scale(0.6) translateY(-22px); } }

@-webkit-keyframes scaleUp {
  from {
    transform: scale(0.6) translateY(-22px); }
  to {
    transform: scale(1) translateY(0px); } }

/* Stop header scaling animations */
/* Very specific animations for moving the title up and down on mobile 
 * devices
 */
@-webkit-keyframes moveHeaderUp {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px); } }

@-webkit-keyframes moveHeaderDown {
  from {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px); }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

/* Stop title moving animations */
/* Style things mostly using the BEM pattern */
body {
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.header {
  background-color: #f9e034;
  text-align: center; }
  .header__title {
    position: absolute;
    text-indent: -999px; }

.nav__header {
  position: absolute;
  text-indent: -9999px; }

.nav__list {
  padding: 0; }

.nav__list-item {
  margin: 0 10px;
  display: inline-block;
  list-style-type: none; }

.content__title {
  position: absolute;
  text-indent: -9999px; }
  .content__title--about-page {
    margin: 0 0 20px;
    text-align: center; }

.content__about-header {
  position: absolute;
  text-indent: -9999px; }

.content__about-text {
  margin-bottom: 30px;
  line-height: 1.4em; }

.examples {
  padding-left: 0; }
  .examples__list-item {
    margin-bottom: 10px;
    list-style-type: none; }

.aside {
  background-color: #fae866; }

.footer {
  background-color: #dabf06; }

a:link {
  color: #000;
  text-decoration: underline; }

a:visited {
  color: #000;
  text-decoration: underline; }

a:hover {
  color: #000;
  text-decoration: none; }

@media (min-width: 768px) {
  .header {
    width: 100%; }
    .header__logo {
      width: 150px;
      height: 150px; }
    .header__inner-div {
      max-width: 700px;
      margin: 0 auto; }
    .header__logo-image {
      width: 150px;
      height: 150px; }
    .header__logo-link {
      margin-right: 80px;
      padding-top: 30px;
      display: inline-block;
      position: relative;
      top: -3px;
      left: -18px; }
    .header__subtitle {
      width: 300px;
      margin: 0 0 0 80px;
      display: inline-block;
      position: relative;
      top: -12px;
      bottom: 42px;
      left: 52px;
      font-size: 20px;
      line-height: 1.4em;
      text-align: left; }
  .nav {
    background-color: #eed107; }
    .nav__list {
      padding: 20px 0; }
  .main {
    min-width: 768px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0; }
  .content__inner-container {
    max-width: 700px;
    margin: 0 auto; }
  .content__about-text {
    margin: 10px auto; }
  .content__about-page-text {
    margin: 10px 30px; }
  .content--img {
    position: absolute; }
  .content__article-wrapper {
    width: 300px;
    display: inline-block;
    position: relative;
    right: -410px; }
  .aside {
    height: 150px; }
    .aside__image {
      width: 100px;
      height: 100px;
      margin: 16px 0;
      border-radius: 50%;
      border: 1px solid #000; } }

/* Style things mostly using the BEM pattern */
@media (max-width: 767px) {
  .header__logo {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block; }
  .header__logo-image {
    width: 70px;
    height: 70px; }
  .header__logo-link {
    padding: 14px 0 20px;
    display: block; }
  .header__subtitle {
    font-size: 16px;
    font-weight: 300;
    margin: 10px auto;
    max-width: 300px; }
  .nav {
    padding-bottom: 4px; }
    .nav__list {
      margin: 20px auto 20px;
      text-align: center; }
  .main {
    margin: 70px 10px; }
  .aside {
    padding: 10px 10px 20px;
    text-align: center; }
    .aside__image {
      width: 100px;
      height: 100px;
      margin: 16px 0;
      border-radius: 50%;
      border: 1px solid #000; }
  .content__example {
    margin-top: 40px; }
  .content__example-header {
    font-size: 20px;
    text-align: center; }
  .content--img {
    margin: 0 auto;
    display: inherit; }
  .content__about-text {
    margin: 10px auto;
    max-width: 300px; }
  footer {
    height: 10px;
    margin-bottom: 0;
    padding: 5px 0;
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: 500; } }

/* Stop ".page-modal"...BEM style */
