/* Variables go here */
/*
 * HELPER CLASSES
 */
/* Off-screen text-indent */
/*
 * HELPER CLASSES END
 */
/**
 * Core button used site-wide
 */
/**
 * Core button will have different heights...set them with this mixin
 */
/**
 * Reusable mixin for scaling element in the mobile view
 *
 * TODO: The spots that use this mixin need their own mixin
 */
@media only screen and (min-width: 320px) {
  /* Small screen, non-retina */ }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  /* Small screen, retina, stuff to override above media query */
  .header-logo {
    background: url(../img/image-sprite@2x.png) -304px 3px no-repeat;
    background-size: 455px 300px;
    min-height: 150px; } }

@media only screen and (min-width: 1300px) {
  /* Large screen, non-retina */ }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1300px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-resolution: 192dpi) and (min-width: 1300px), only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  /* Large screen, retina, stuff to override above media query */ }

/* Generic fade in and fade out animations...pretty reusable */
/* For Webkit */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* For other browsers */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* Stop fade in/fade out animations */
/* Very specific animations for scaling the logo in and out on mobile
 * devices
 */
/* For Webkit */
@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1) translateY(0px); }
  to {
    -webkit-transform: scale(0.6) translateY(-22px); } }

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0.6) translateY(-22px); }
  to {
    -webkit-transform: scale(1) translateY(0px); } }

/* For other browsers */
@keyframes scaleOut {
  from {
    transform: scale(1) translateY(0px); }
  to {
    transform: scale(0.6) translateY(-22px); } }

@-webkit-keyframes scaleUp {
  from {
    transform: scale(0.6) translateY(-22px); }
  to {
    transform: scale(1) translateY(0px); } }

/* Stop header scaling animations */
/* Very specific animations for moving the title up and down on mobile 
 * devices
 */
@-webkit-keyframes moveHeaderUp {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px); } }

@-webkit-keyframes moveHeaderDown {
  from {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px); }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

/* Stop title moving animations */
/* Style things mostly using the BEM pattern */
body {
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

/*
 * COLUMNS:
 * Defines the responsive positioning of the key content
 */
/* Where the header and nav are */
.left-column {
  top: 0;
  position: fixed; }

/* STOP COLUMNS */
/* Start ".header"...BEM style */
.header__logo {
  width: 70px;
  height: 70px; }

.header--twitterLink {
  color: black;
  font-weight: 900;
  text-decoration: underline; }
  .header--twitterLink:hover {
    text-decoration: none;
    color: #ae9e30; }
  .header--twitterLink--link {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    cursor: pointer; }
  .header--twitterLink:visited {
    text-decoration: none;
    color: black; }

/* Stop ".header"...BEM style */
/* Start ".nav"...BEM style */
.nav__button {
  cursor: pointer; }
  .nav__button:link {
    text-decoration: none; }
  .nav__button:hover {
    text-decoration: underline; }
  .nav__button:visited {
    text-decoration: none; }

/* Stop ".nav"...BEM style */
/* Start ".single-resource"...BEM style */
.single-resource {
  background-color: #fdf7c9;
  border-radius: 5px; }
  .single-resource__book-image {
    margin: 0 auto 20px;
    display: block; }

/* Stop ".single-resource"...BEM style */
/* Start ".page-modal"...BEM style */
.page-modal {
  height: 50%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: #e2dfdf; }
  .page-modal__container {
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    z-index: 2;
    top: 10%;
    right: 0;
    left: 0;
    background-color: #fefefe;
    border: 1px solid #888; }
  .page-modal__header {
    font-size: 20px; }
  .page-modal__title {
    font-size: 18px;
    text-align: center; }
  .page-modal__button {
    padding: 10px;
    float: right;
    margin: 0 6px;
    padding: 10px;
    text-decoration: none;
    color: #f9e034;
    background-color: #000;
    border-radius: 16px;
    cursor: pointer; }
    .page-modal__button:hover {
      color: #f9e034;
      text-decoration: underline; }
  .page-modal__img {
    border: 1px solid #000; }
  .page-modal__top-slide {
    top: 0; }
  .page-modal__bottom-slide {
    bottom: 0; }
  .page-modal__slide {
    background-color: #b0b0b0;
    position: relative;
    height: 50%;
    z-index: 3; }
    .page-modal__slide--moveUp {
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -webkit-box-shadow: 0px 0px 8px 2px black;
      box-shadow: 0px 0px 8px 2px black; }
    .page-modal__slide--moveDown {
      -webkit-transform: translate(0, 100%);
      transform: translate(0, 100%);
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -webkit-box-shadow: inset 0 20px 20px -20px black;
      box-shadow: inset 0 20px 20px -20px black; }

/* Start ".page-modal"...BEM style */
@media (min-width: 768px) {
  /*
   * COLUMNS:
   * Defines the responsive positioning of the key content
   */
  /* Where the header and nav are */
  .left-column {
    width: 250px;
    height: 100%;
    padding: 22px 0 0 22px;
    float: left;
    background-color: #f9e034; }
  /* Where the content is */
  .right-column {
    max-width: 1010px;
    padding-left: 241px;
    float: left; }
  /* STOP COLUMNS */
  /* Start ".header"...BEM style */
  .header {
    height: 200px;
    top: 0; }
    .header__innerText {
      width: 220px; }
    .header__title {
      font-size: 24px; }
    .header__subtitle {
      margin-top: 40px;
      font-size: 16px; }
  /* Stop ".header"...BEM style */
  /* Start ".nav"...BEM style */
  .nav {
    width: 100%;
    margin-top: 40px; }
    .nav__header {
      margin-bottom: 0;
      font-size: 18px; }
    .nav__list {
      margin-top: 4px;
      padding-left: 0; }
    .nav__list-item {
      margin-bottom: 2px;
      list-style-type: none;
      cursor: pointer; }
    .nav__list-item-home {
      margin-bottom: 2px;
      list-style-type: none;
      cursor: pointer; }
    .nav__button:link {
      color: #000;
      text-decoration: none; }
    .nav__button:hover {
      color: #000; }
    .nav__button:visited {
      color: #000;
      text-decoration: none; }
    .nav__button-home:link {
      color: #000;
      text-decoration: none; }
    .nav__button-home:hover {
      color: #000;
      text-decoration: underline; }
    .nav__button-home:visited {
      color: #000;
      text-decoration: none; }
    .nav--link-top-padding {
      padding-top: 20px; }
  /* Stop ".nav"...BEM style */
  /* Non-BEM container for the learning resources */
  .single-resource-container {
    max-width: 992px;
    margin: 15px 0 0 50px; }
  /* Start ".single-resource"...BEM style */
  .single-resource {
    max-width: 250px;
    width: 200px;
    margin: 18px;
    display: inline-block;
    text-align: center; }
    .single-resource__header {
      min-height: 70px;
      font-size: 18px;
      font-weight: 400;
      color: #907e04; }
    .single-resource__author {
      display: inline-block;
      font-size: 16px; }
    .single-resource__button {
      margin: 0 4px 16px;
      cursor: pointer;
      color: #000;
      display: inline-block;
      text-decoration: none; }
      .single-resource__button:hover {
        text-decoration: underline;
        color: #776804; }
  /* Stop ".single-resource"...BEM style */
  /* Start ".page-modal"...BEM style */
  .page-modal__header {
    margin-top: 0;
    font-size: 26px; }
  .page-modal__container {
    width: 54%; }
  .page-modal__content {
    display: inline; }
  .page-modal__img {
    margin-right: 10px;
    float: left; }
  .page-modal__button {
    position: absolute;
    top: 10px;
    right: 0; }
  /* Stop ".page-modal"...BEM style */
  /* Style <footer> */
  footer {
    position: fixed;
    top: 500px;
    margin-left: 22px;
    font-size: 12px;
    font-weight: 500; }
  /* Mobile menu does not need to be seen on any non-mobile views */
  .mobile-menu {
    display: none; } }

/* Style things mostly using the BEM pattern */
@media (max-width: 767px) {
  /* Style the site's container */
  .container {
    padding-bottom: 70px; }
  /*
   * COLUMNS:
   * Defines the responsive positioning of the key content
   */
  /* Where the header and nav are */
  .left-column {
    width: 100%; }
  /* Where the content is */
  .right-column {
    padding-top: 210px; }
  /* STOP COLUMNS */
  /* Start ".header"...BEM style */
  .header {
    height: 164px;
    padding-bottom: 4px;
    border: 1px solid #f3d507;
    background-color: #f9e034; }
    .header__title {
      font-size: 18px;
      font-weight: 900; }
      .header__title--moveUp {
        -webkit-animation-name: moveHeaderUp;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-name: moveHeaderUp;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards; }
      .header__title--moveDown {
        -webkit-animation-name: moveHeaderDown;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-name: moveHeaderDown;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards; }
    .header__subtitle {
      width: 80%;
      margin: 0 auto;
      padding: 10px 0;
      border-top: 1px solid #000;
      font-size: 14px; }
      .header__subtitle--fadeout {
        -webkit-animation-name: fadeOut;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-name: fadeOut;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards; }
      .header__subtitle--fadein {
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-name: fadeIn;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards; }
    .header__logo {
      margin: 0 auto 10px;
      display: block; }
      .header__logo--scaleout {
        -webkit-animation-name: scaleOut;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-name: scaleOut;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards; }
      .header__logo--scalein {
        -webkit-animation-name: scaleUp;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        animation-name: scaleUp;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards; }
    .header__innerText {
      text-align: center; }
    .header--expanded {
      height: 220px;
      -webkit-transition: 0.1s;
      transition: 0.1s; }
  /* Stop ".header"...BEM style */
  /* Start ".nav"...BEM style */
  .nav__header {
    margin: 10px 0;
    font-size: 17px;
    text-align: center; }
  .nav__list {
    width: 100%;
    height: 103px;
    margin: 0;
    padding: 5px; }
  .nav__list-item {
    margin: 0 10px 15px;
    display: inline-block;
    border-radius: 20px;
    background-color: #000; }
  .nav__list-item-home {
    display: inline; }
  .nav__button {
    display: inline-block;
    margin: 0 6px;
    padding: 10px;
    text-decoration: none;
    color: #f9e034;
    background-color: #000;
    border-radius: 16px;
    cursor: pointer; }
    .nav__button:hover {
      color: #f9e034;
      text-decoration: underline; }
    .nav__button:link {
      color: #f9e034; }
    .nav__button:hover {
      color: #f9e034; }
    .nav__button:visited {
      color: #f9e034; }
  .nav__button-home {
    display: inline-block;
    margin: 0 6px;
    padding: 10px;
    text-decoration: none;
    color: #f9e034;
    background-color: #000;
    border-radius: 16px;
    cursor: pointer; }
    .nav__button-home:hover {
      color: #f9e034;
      text-decoration: underline; }
    .nav__button-home:link {
      color: #f9e034; }
    .nav__button-home:hover {
      color: #f9e034; }
    .nav__button-home:visited {
      color: #f9e034; }
  .nav--visible {
    width: 100%;
    display: block;
    position: absolute;
    top: 74px;
    left: 0;
    border-top: 1px solid #000;
    background: #fbeb7e;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards; }
  .nav--notVisible {
    display: none;
    /* Animation */
    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards; }
  /* Stop ".nav"...BEM style */
  /* Start ".mobile-menu"...BEM style */
  .mobile-menu {
    position: absolute;
    top: 6px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: transparent; }
    .mobile-menu--bar {
      display: block;
      width: 26px;
      height: 4px;
      margin: 4px auto;
      background-color: #000; }
  /* Stop ".mobile-menu"...BEM style */
  .single-resource-container {
    text-align: center; }
  /* Start ".single-resource"...BEM style */
  .single-resource {
    width: 267px;
    max-width: 284px;
    margin: 0 10px 60px;
    padding: 5px 6px 25px;
    display: inline-block; }
    .single-resource__header {
      margin-bottom: 0;
      min-height: 70px;
      font-size: 20px; }
    .single-resource__author {
      display: block;
      margin-bottom: 10px;
      font-size: 14px; }
    .single-resource__button {
      display: inline-block;
      font-size: 14px;
      margin: 0 6px;
      padding: 10px;
      text-decoration: none;
      color: #f9e034;
      background-color: #000;
      border-radius: 16px;
      cursor: pointer;
      width: 96px;
      display: inline-block; }
      .single-resource__button:hover {
        color: #f9e034;
        text-decoration: underline; }
  /* Stop ".single-resource"...BEM style */
  /* Start ".page-modal"...BEM style */
  .page-modal__header {
    margin-top: 16px;
    font-size: 18px;
    text-align: center; }
  .page-modal__container {
    width: 80%; }
  .page-modal__content {
    width: 80%;
    margin: 15px auto;
    line-height: 20px; }
  .page-modal__img {
    margin: 0 auto;
    display: block; }
  /* Style <footer> */
  footer {
    height: 10px;
    margin-bottom: 0;
    padding: 5px 0;
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #f9e034;
    text-align: center;
    font-size: 12px;
    font-weight: 500; } }

/* Stop ".page-modal"...BEM style */
