<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <% include partials/head.ejs %>
  <body>
    <div class="container">
      <% include partials/header.ejs %>
      <main id="container__react-target" class="right-column" role="main" itemprop="mainContentOfPage" itemtype="http://schema.org/CreativeWork">

      </main> <!-- .right-column -->
      <% include partials/footer.ejs %>
     </div> <!-- .container -->
     <% include partials/scripts.ejs %>
  </body>
</html>