<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <title>The JavaScript Canon - 404 not found</title>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="The JavaScript Canon - 404 not found"/>
  <meta name="description" content="The JavaScript Canon - 404 not found">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <link href="/css/style-home.css" media="all" rel="stylesheet">
</head>
<body>
  <div class="container">
    <main class="main" role="main" itemprop="mainContentOfPage" itemtype="http://schema.org/CreativeWork">
      <h1>Sorry, page not found</h1>
    </main> <!-- .main -->
  </div> <!-- .container -->
</body>
</html>