<!DOCTYPE html>
<% include partials/head.ejs %>
<body>
  <div class="container">
    <% include partials/header.ejs %>

    <main class="main">
      <section class="content">
        <h2 class="content__title--about-page">About the JS Canon</h2>
        <p class="content__about-text">
          The JavaScript Canon is a list of JavaScript learning resources I consider to be the best. It's called a "canon" which, in literary terms, has historically referred to group of writings that best define the thinking of certain field...the field in this case being JavaScript.
        </p>
        <p class="content__about-text">
          The JS Canon is also site that I duplicate multiple times with each version using a different JavaScript framework. I do this so I have a fun place to practice new frameworks.
        </p>
        <p class="content__about-text">
          I'm taking inspiration from <a href="http://todomvc.com/" itemprop="url">TodoMVC</a>, which tests & reviews various JavaScript MVC libraries and frameworks by applying them to a simple app. Mine is definitely more complex (maybe TOO complex), but it's what I wanted to do.
        </p>
        <p class="content__about-text">Read more about my thinking on this as well as the technical info over on my blog post <a href="#" itemprop="url">here</a>.</p>
        <!-- a link needs to go here -->
        <p class="content__about-text">
          <em>-kaidez</em>
        </p>
      </section>
    </main> <!-- .content -->
    <% include partials/aside.ejs %>
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </div>
</body>
</html>