<!DOCTYPE html>
<meta charset="utf-8">
<head><% include partials/head.ejs %></head>
<body>
  <div class="container">
    <% include partials/header.ejs %>

    <main class="main">
      <section class="content">

        <article class="content__about-text">
          <h2 class="content__about-header">About the JavaScript Canon</h2>
          <p>
            The JavaScript Canon is a small website that I create different versions of to practice various JS frameworks and design patterns...Backbone, React, etc.
          </p>
          <p>
            <a href="/about/">Read more in the <em>about</em> section...</a>
          </p>
        </article> <!-- .about-text -->

        <article>
          <h2 class="content__example-header">different versions</h2>

          <ul class="examples" id="examples-target">

          </ul> <!-- #examples -->
        </article>

      </section>
    </main> <!-- .content -->

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </div>
</body>
</html>