<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <% include partials/head.ejs %>
  <body>
    <div class="container">
      <% include partials/header.ejs %>
      <main class="right-column" role="main" itemprop="mainContentOfPage" itemtype="http://schema.org/CreativeWork">
        <section id="targetEl" class="single-resource-container">
        </section> <!-- #targetEl -->
      </main> <!-- .right-column -->
      <% include partials/footer.ejs %>
      <% include partials/scripts.ejs %>
     </div> <!-- .container -->
  </body>
</html>