head
  title="The JavaScript Canon - Vanilla JS"
  meta(name="description", content="The plain, non-framework Vanilla JS Version of the JavaScript Canon")
  meta(charset="utf-8")
  meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport")
  link(href="css/style.css" media="all" rel="stylesheet")
