div.left-column
  header#headerElement.header
    button(type="button" id="mobile-button" class="mobile-menu")
      span.mobile-menu--bar
      span.mobile-menu--bar
      span.mobile-menu--bar
    svg(width="70px" height="70px" alt="Logo for the JavaScript Canon" id="logo" class="header__logo")
      image(xlink:href="/img/js-logo.svg" src="/img/js-logo.png" width="70px" height="70px" alt="Logo for the JavaScript Canon" id="logo" class="header__logo")
    div.header__innerText
      h1#title.header__title The JavaScript Canon
      h2#subtitle.header__subtitle
        | Top-notch JavaScript learning resources curated by <a href="http://twitter.com/kaidez" class="header--twitterLink">@kaidez</a>
    nav#navigation.nav.nav--notVisible
      h2.nav__header
        | filter resource types
      ul.nav__list
        li.nav__list-item
          a(id="btnShowAll" class="nav--show-all-button")
            | Show All Types