div#page-modal-element.page-modal
	div.page-modal__container
		h2.page-modal__header Why is this book good?
		div
			h3.page-modal__title
			img.page-modal__img
			div.page-modal__content.js-modal-content
		a(class="page-modal__button") close window