@keyframes headerTextAnimation {
  from { transform: translateX( 0px ); }
  to { transform: translateX( 75px ); }
}

.header-class {

  background-color: #fff;
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
}

.h1-animation {

  -webkit-animation-name: headerTextAnimation;
  -webkit-animation-duration: .2s;
  -webkit-animation-timing-function : ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  animation-name: headerTextAnimation;
  animation-duration: .2s;
  animation-timing-function : ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}


@keyframes headerTextAnimationBack {
  from { transform: translateX( 75px ); }
  to { transform: translateX( 0px ); }
}

.h1-animation-back {

  -webkit-animation-name: headerTextAnimationBack;
  -webkit-animation-duration: .2s;
  -webkit-animation-timing-function : ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  animation-name: headerTextAnimationBack;
  animation-duration: .2s;
  animation-timing-function : ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

/* Modal slide-related classes */
.move-up {
    transform: translate(0,-100%);
    -webkit-transform: translate(0,-100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
       -moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;
}

.move-down {
    transform: translate(0,100%);
    -webkit-transform: translate(0,100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -webkit-box-shadow: inset 0 20px 20px -20px rgb(0,0,0);
       -moz-box-shadow: inset 0 20px 20px -20px rgb(0,0,0);
            box-shadow: inset 0 20px 20px -20px rgb(0,0,0);
}



.scale-out {
  @include scaling(scaleOut);
}


@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }

  to {
    -webkit-transform: scale(0.8) translateY(-10px);
            transform: scale(0.8) translateY(-10px);
  }
}


.scale-up {
  @include scaling(scaleUp);
}


@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0.8) translateY(-10px);
            transform: scale(0.8) translateY(-10px);
  }

  to {
    -webkit-transform: scale(1) translateY(0px);
           transform: scale(1) translateY(0px);
  }
}


.h1-moveUp {
  @include scaling(moveHeaderUp);
}

@-webkit-keyframes moveHeaderUp {
  from {
    -webkit-transform: translateY(0px);
            transform: ranslateY(0px);
  }

  to {
    -webkit-transform: translateY(-15px);
           transform: translateY(-15px);
  }
}


.h1-moveDown {
  @include scaling(moveHeaderDown);
}

@-webkit-keyframes moveHeaderDown {
  from {
    -webkit-transform: translateY(-15px);
            transform: ranslateY(-15px);
  }

  to {
    -webkit-transform: translateY(0px);
           transform: translateY(0px);
  }
}

.subtitle-fadeOut {
  @include scaling(fadeOut);
}
@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.subtitle-fadeIn {
  @include scaling(fadeIn);
}
@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}