body {
  overflow-x: hidden;
}

button {
  margin: 0 8px;
}

.page-modal-element,
.single-resource {
  &__button {
    @include coreButton;
  }
}

.page-modal-element {
  &__header {
    display: inline-block;
  }
}

.single-resource {
  &__button {
    width: 118px;
  }
}

/* Style the <h2> tag */
.gl-subheader {
  margin:0;

  font-size: 16px;
}



.header {
  width: 1170px;
  height: 200px;

  background-color:#fff;

  @include z2;
  &__logo {
    width: 150px;
    display: inline-block;
  }

}

.filter-text {
  color: #fff;
}

.h1-class, .subheader {
  margin-left: 10px;
}
/* Style the Twitter link in <header> */
.gl-twitter-link {
  color: rgba(0, 0, 0, 1);
  font-weight: 900;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: rgba(174, 158, 48, 1);
  }
  &:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
  }
}

.book-link {
  text-align: center;
  display: block;
  color: rgba(0, 0, 0, 1);
  font-weight: 900;
  font-size: 20px;
  &:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
  }
  &:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
  }

}

.move-up {
    transform: translate(0,-100%);
    -webkit-transform: translate(0,-100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
       -moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;
}

.move-down {
    transform: translate(0,100%);
    -webkit-transform: translate(0,100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -webkit-box-shadow: inset 0 20px 20px -20px rgb(0,0,0);
       -moz-box-shadow: inset 0 20px 20px -20px rgb(0,0,0);
            box-shadow: inset 0 20px 20px -20px rgb(0,0,0);
}