button {
  margin: 0 8px;
}

/* Style the <h2> tag */
.gl-subheader {
  margin:0;

  font-size: 16px;
}

.header-element {

  display: inline-block;
} 

.header-class {
  width: 1170px;
  position: fixed;

  background-color:#fff;

  @include z2;
}

.h1-class, .subheader {
  margin-left: 10px;
}
/* Style the Twitter link in <header> */
.gl-twitter-link {
  color: rgba(0, 0, 0, 1);
  font-weight: 900;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: rgba(174, 158, 48, 1);
  }
  &:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
  }
}

.book-link {
  text-align: center;
  display: block;
  color: rgba(0, 0, 0, 1);
  font-weight: 900;
  font-size: 20px;
  &:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
  }
  &:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
  }
}
