/* Style things mostly using the BEM pattern */

body {
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
 * COLUMNS:
 * Defines the responsive positioning of the key content
 */

 /* Where the header and nav are */
.left-column {
  top: 0;
  position: fixed;
}

/* STOP COLUMNS */

/* Start ".header"...BEM style */
.header {

  &__logo {
    width: 70px;
    height: 70px;
  }

  &--twitterLink {
    color: rgba(0, 0, 0, 1);
    font-weight: 900;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: rgba(174, 158, 48, 1);
    }

    &--link {
      width: 70px;
      height: 70px;
      display: block;
      margin: 0 auto;

      cursor: pointer;
    }

    &:visited {
      text-decoration: none;
      color: rgba(0, 0, 0, 1);
    }

  }
}
/* Stop ".header"...BEM style */



/* Start ".nav"...BEM style */
.nav {

  &__button {

    cursor: pointer;

    &:link {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      text-decoration: none;
    }

  }

}
/* Stop ".nav"...BEM style */



/* Start ".single-resource"...BEM style */
.single-resource {
  background-color: lighten($js-yellow, 30%);
  border-radius: 5px;

  &__book-image {
    margin: 0 auto 20px;
    display: block;
  }
}
/* Stop ".single-resource"...BEM style */



/* Start ".page-modal"...BEM style */
.page-modal {
  height: 50%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(226,223,223);

  &__container {
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    z-index: 2;
    top: 10%;
    right: 0;
    left: 0;

    background-color: #fefefe;
    border: 1px solid #888;
  }

  &__header {
    font-size: 20px;
  }

  &__title {
    font-size: 18px;
    text-align: center;
  }

  &__button {
    padding: 10px;
    float: right;

    @include coreButton;
  }

  &__img {
    border: 1px solid #000;
  }

  &__top-slide {
    top:0;
  }

  &__bottom-slide {
    bottom:0;
  }

  &__slide {
    background-color: $slide-color;
    position: relative;
    height: 50%;
    z-index: 3;

    &--moveUp {
      -webkit-transform: translate(0,-100%);
      transform: translate(0,-100%);

      -webkit-transition: 0.5s;
      transition: 0.5s;

      -webkit-box-shadow: 0px 0px 8px 2px rgb(0,0,0);
      box-shadow: 0px 0px 8px 2px rgb(0,0,0);
    }

    &--moveDown {
      -webkit-transform: translate(0,100%);
      transform: translate(0,100%);

      -webkit-transition: 0.5s;
      transition: 0.5s;

      -webkit-box-shadow: inset 0 20px 20px -20px rgb(0,0,0);
      box-shadow: inset 0 20px 20px -20px rgb(0,0,0);
    }

  }

}
/* Start ".page-modal"...BEM style */
