@media (max-width: 767px) {

  .header {
    padding-bottom: 4px;

    border: 1px solid darken($js-yellow, 10%);
    background-color:$js-yellow;

    &__logo {
      margin: 0 auto;
      display: block;
    }

    &__innerText {
      text-align: center;
    }

    &--headerTitle {
      font-size: 18px;
      font-weight: 900;
    }

    &--subheaderTitle {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;

    border-top: 1px solid #000;
    font-size: 14px;
    }

  }

  .nav {
    display: none;
    clear: both;

    text-align: center;
  }

  .mobile-menu {

    position: absolute;
    top: 6px;

    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: transparent;

    &--bar {

      display: block;
      width: 26px;
      height: 4px;
      margin: 4px auto;

      background-color: #000;
    }
  }
  
  /* Where the header and nav are */
  .left-column {
   width: 100%;
  }
/* Where the contebt is*/
  .right-column {
    padding-top: 170px;

    text-align: center;
  }

  /* Hide some elements on hand-held views */
  .subheader {
    @include hide-element;
  }



  /* Style all the buttons */
  .btn-resource,
  .btn-show-all-class {
    display: block;
  }
  .single-resource {
    max-width: 284px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:85px;

    border-bottom: 1px solid gray;
  }

  .book-image {
    width: 100%;
  }

}