/* Style things mostly using the BEM pattern */

@media (max-width: 767px) {

  /* Style the site's container */
  .container {
    padding-bottom: 70px;
  }

  /*
   * COLUMNS:
   * Defines the responsive positioning of the key content
   */

   /* Where the header and nav are */
   .left-column {
    width: 100%;
  }

  /* Where the content is */
  .right-column {
    padding-top: 210px;
  }

  /* STOP COLUMNS */



  /* Start ".header"...BEM style */
  .header {
    height: 164px;
    padding-bottom: 4px;

    border: 1px solid darken($js-yellow, 10%);
    background-color:$js-yellow;

    &__title {
      font-size: 18px;
      font-weight: 900;

      &--moveUp {
        @include scaling(moveHeaderUp);
      }

      &--moveDown {
        @include scaling(moveHeaderDown);
      }

    }

    &__subtitle {
      width: 80%;
      margin: 0 auto;
      padding: 10px 0;

      border-top: 1px solid #000;
      font-size: 14px;

      &--fadeout {
        @include scaling(fadeOut);
      }

      &--fadein {
        @include scaling(fadeIn);
      }

    }

    &__logo {
      margin: 0 auto 10px;
      display: block;

      &--scaleout {
        @include scaling(scaleOut);
      }

      &--scalein {
        @include scaling(scaleUp);
      }

    }

    &__innerText {
      text-align: center;
    }


    &--expanded {
      height: 220px;
      -webkit-transition: 0.1s;
      transition: 0.1s;
    }
  }
  /* Stop ".header"...BEM style */



  /* Start ".nav"...BEM style */
  .nav {

    &__header {
      margin: 10px 0;

      font-size: 17px;
      text-align: center;
    }

    &__list {
      max-width: 280px;
      height: 154px;
      margin: 0 auto;
      padding: 5px;
    }

    &__list-item {
      margin: 0 10px 15px;
      display:inline-block;

      border-radius:20px;
      background-color: #000;
    }

    &__list-item-home {
      margin: 0 10px 15px;
      display:inline-block;

      border-radius:20px;
    }

    &__button {
      display: inline-block;

      @include coreButton;

      &:link {
        color: $js-yellow;
      }

      &:hover {
        color: $js-yellow;
      }

      &:visited {
        color: $js-yellow;
      }
    }

    &__button-home {
      display: inline-block;

      @include coreButtonMainSite;

      &:link {
        color: #000;
        text-decoration: none;
      }

      &:hover {
        color: #000;
        text-decoration: underline;
      }

      &:visited {
        color: #000;
        text-decoration: none;
      }
    }



    &--homepage-link {
      @include coreButtonMainSite;
    }

    &--visible {
      width: 100%;
      display: block;
      position: absolute;
      top: 74px;
      left:0;

      border-top: 1px solid #000;
      background: lighten($js-yellow, 15%);

      @include scaling(fadeIn);
    }

    &--notVisible {
      display: none;

      /* Animation */
      @include scaling(fadeOut);
    }

  }
  /* Stop ".nav"...BEM style */



  /* Start ".mobile-menu"...BEM style */
  .mobile-menu {

    position: absolute;
    top: 6px;

    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: transparent;

    &--bar {

      display: block;
      width: 26px;
      height: 4px;
      margin: 4px auto;

      background-color: #000;
    }
  }
  /* Stop ".mobile-menu"...BEM style */

.single-resource-container {
  text-align: center;
}

  /* Start ".single-resource"...BEM style */
  .single-resource {
    width: 267px;
    max-width: 284px;
    margin: 0 10px 60px;
    padding: 5px 6px 25px;
    display: inline-block;

    &__header {
      margin-bottom: 0;
      min-height: 70px;

      font-size: 20px;
    }

    &__author {
      display: block;
      margin-bottom: 10px;

      font-size: 14px;
    }

    &__button {
      display: inline-block;

      font-size: 14px;

      @include coreButton;
      @include coreButtonDimensions(96px);
    }
  }
  /* Stop ".single-resource"...BEM style */




  /* Start ".page-modal"...BEM style */
  .page-modal {

    &__header {
    margin-top: 16px;

      font-size: 18px;
      text-align: center;
    }

    &__container {
      width: 80%;
    }

    &__content {
      width: 80%;
      margin: 15px auto;

      line-height: 20px;
    }

    &__img {
      margin: 0 auto;
      display: block;
    }

  }

  /* Style <footer> */
  footer {
    height:10px;
    margin-bottom:0;
    padding: 5px 0;
    position:fixed;
    right:0px;
    bottom:0px;
    left:0px;

    background-color: $js-yellow;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
  }

}

  /* Stop ".page-modal"...BEM style */