@media (max-width: 767px) {

  .header-element {
    display: inline-block;
  }
  
  .h1-class {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
  }

  .mobile-menu-button {
    
    width: 50px;
    height: 48px;
    margin-top: 24px;

    border: 1px solid #DDDBDB;
    border-radius: 3px;
    background-color: #FEF186;

  }

  .mobile-menu-bar {

    display: block;
    width: 31px;
    height: 4px;
    margin: 0 auto 4px;

    background-color: #000;
  }

  .btn-resource {
    display: block;
  }

  .nav-class {
    display: block;
    clear: both;

    text-align: center;
  }

  /* Hide some elements on hand-held views */
  .custom-hr, .subheader {
    @include hide-element;
  }

  .header-elements {
    float:left;
  }

  .content-class {
    text-align: center;
  }

}