@media (min-width: 768px) {

  /*
   * COLUMNS:
   * Defines the responsive positioning of the key content
   */

   /* Where the header and nav are */
   .left-column {
    width: 250px;
    height: 100%;
    padding: 22px 0 0 22px;
    float: left;

    background-color:$js-yellow;
  }

  /* Where the content is */
  .right-column {
    max-width: 1010px;
    padding-left: 241px;
    float: left;
  }

  /* STOP COLUMNS */



  /* Start ".header"...BEM style */
  .header {
    height: 200px;
    top: 0;

    &__innerText{
      width: 220px;
    }

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      margin-top: 40px;

      font-size: 16px;
    }

  }
  /* Stop ".header"...BEM style */



  /* Start ".nav"...BEM style */
  .nav {
    width: 100%;
    margin-top: 40px;

    &__header {
      margin-bottom: 0;

      font-size: 18px;
    }
    &__list {
      margin-top: 4px;
      padding-left: 0;
    }

    &__list-item {
      margin-bottom: 2px;
      list-style-type: none;

      cursor: pointer;
    }


    &__button {

      &:link {
        color:#000;
      }

      &:hover {
        color:#000;
      }

      &:visited {
        color:#000;
      }

    }
  }
  /* Stop ".nav"...BEM style */


  /* Non-BEM container for the learning resources */
  .single-resource-container {
    max-width: 992px;
    margin: 15px 0 0 50px;
  }

  /* Start ".single-resource"...BEM style */
  .single-resource {
    max-width: 250px;
    width: 200px;
    margin: 18px;
    display: inline-block;

    text-align: center;

    &__header {
      min-height: 70px;

      font-size: 18px;
      font-weight: 400;

      color: darken($js-yellow, 30%);
    }

    &__author {
      display: inline-block;
      font-size: 16px;
    }

    &__button {
      margin: 0 4px 16px;
      cursor: pointer;

      color: #000;
      display: inline-block;
      text-decoration: none;
      &:hover {
        text-decoration: underline;

        color: darken($js-yellow, 35%);
      }
    }
  }
  /* Stop ".single-resource"...BEM style */



  /* Start ".page-modal"...BEM style */
  .page-modal {

    &__header {
        margin-top: 0;

        font-size: 26px;
    }

    &__container {
      width: 54%;
    }

    &__content {
      display: inline;
    }

    &__img {
      margin-right: 10px;
      float: left;
    }
    &__button {
      position: absolute;
      top: 10px;
      right: 0;
    }

  }
  /* Stop ".page-modal"...BEM style */


  /* Style <footer> */
  footer {
    position: fixed;
    top: 460px;
    margin-left: 22px;

    font-size: 12px;
    font-weight: 500;
  }



  /* Mobile menu does not need to be seen on any non-mobile views */
  .mobile-menu {
    display: none;
  }

}