@media (min-width: 768px) {

  /* Style the <nav> */
  .nav-class {
    width: 100%;

    text-align: center;
  }

  .nav-class {
    width: 1170px;

    background-color: #000;
  }

  /*
   * Set the height for both the <nav> and its button child element
   * container so the sticky nav works.
   */
  .nav-class, .btn-container  {
    height: 34px;
  }

  /* Override the standard .btn-default styles that are in Bootstrap */
  .btn-resource {
    color: #000;
    background-color: $js-yellow;
    border-color: #000;
  }

  .btn-show-all-class {
    color: #fff;
    background-color: #737373;
    border-color: #000;
  }

  .mobile-menu-button {
    display: none;
  }

  .subheader {
    height:70px;

    font-size: 19px;
  }

  .content-class {
    position: relative;
    @include z1;
   }

   .fixed-nav {
    position: fixed;
    top: 0;
    left: 30px;
    right: 0;

    @include z2();
   }

  .page-modal-element {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(226,223,223);
  }

  /* Modal Content/Box */
.page-modal-element--content {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 10%;
  right: 0;
  left: 0;

  background-color: #fefefe;
  border: 1px solid #888;
}

  .page-modal {
    height: 50%;
    &__top-slide {
      top:0;
    }
    &__bottom-slide {
      bottom:0;
    }
    &__slide {
      background-color: $slide-color;
      position: relative;
      height: 50%;
      z-index: 3;
    }
  }
}
