@media (min-width: 992px) {

  .single-resource {
    max-width: 315px;
    margin: 27px;
    display: inline-block;

    text-align: center;
  }

  .header{
		&__text {
			display:inline-block;
		}
  }

}
