@media (min-width: 768px) {

  .mobile-menu-button {
    display: none;
  }

  .subheader {
    height:70px;

    font-size: 19px;
  }

  /* Custom <hr> */
  .custom-hr {
    height: 6px;
    border-top: 0;
    margin-top: 0;
    margin-bottom: 8px;

    background: rgba(0, 0, 0, 1);
  }

  .nav-class {
    margin-top: 300px;
  }

}