@media (min-width: 768px) {

  /* Style the <nav> */
  .nav-class, #nav-inner-container {
    width: 100%;
    
    text-align: center;
  }

  .nav-class {
    padding:8px 0;
    margin-top: 220px;
    
    background-color: #000;
  }

  #nav-inner-container {
    @include z2();
  }

  .btn-container {
    position: relative;

    @include z3();
  }

  /* Override the standard .btn-default styles that are in Bootstrap */
  .btn-resource {
    color: #000;
    background-color: $js-yellow;
    border-color: #000;
  }

  .btn-show-all-class {
    color: #fff;
    background-color: #737373;
    border-color: #000;
  }

  .mobile-menu-button {
    display: none;
  }

  .subheader {
    height:70px;

    font-size: 19px;
  }

  .content-class {
    position: relative;
    @include z1;
   }

}