/*
 * HELPER CLASSES
 */

// Use the old school Yahoo trick for hiding page elements
// Read more at: http://yhoo.it/1vz3NVW
@mixin hide-element {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}


/* Off-screen text-indent */
@mixin ti {
  text-indent: -999px;
}

// z-index mixins
// 5 or less should be fine, but plugin code may mean more are required
// WordPress can also get crazy with z-indexes (e.g. "z-index: 9999")
@mixin z1 {
  z-index: 1;
}

@mixin z2 {
  z-index: 2;
}

@mixin z3 {
  z-index: 3;
}

@mixin z4 {
  z-index: 4;
}

@mixin z5 {
  z-index: 5;
}

/*
 * HELPER CLASSES END
 */

@mixin coreButton {
  margin: 0 6px;
  display: inline-block;
  padding: 10px;

  color: #000;
  background-color: $js-yellow;
  border-radius: 16px;
  cursor: pointer;
  &:hover {
    color: $js-yellow;
    background-color: #000;
    text-decoration: none;
  }
}