/* Style things mostly using the BEM pattern */

body {
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.nav {

  &__header{
    @include ti;
  }

  &__list-item {
    list-style-type: none;
  }

}


.content {

  &__title {
    @include ti;
  }

  &__about-header {
    @include ti;
  }

  &__example-header {

  }
}

.examples {

  padding-left: 0;

  &__list-item {
    margin-bottom: 10px;
    list-style-type: none;
  }
}



// div{
//     overflow:hidden;
//     -moz-border-radius: 10px;
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
//     border:3px solid red;
//     display:inline-block;
// }



.aside {

  background-color: lighten($js-yellow, 10%);

}

.footer {
  background-color: darken($js-yellow, 15%);
}
a:link {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: none;
}