/* Style things mostly using the BEM pattern */

body {
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {

  background-color: $js-yellow;
  text-align: center;

  &__title {
    position: absolute;
    text-indent: -9999px;
  }

}

.nav {

  &__header {
    @include ti;
  }

  &__list {
    padding: 0;
  }

  &__list-item {
    margin: 0 10px;
    display: inline-block;
    list-style-type: none;
  }

}

.content {

  &__title {
    @include ti;

    &--about-page {
      margin: 0 0 20px;
      text-align: center;
    }
  }

  &__about-header {
    @include ti;
  }

  &__about-text {
    margin-bottom: 30px;
    line-height: $line-height;
  }

}

.examples {

  padding-left: 0;

  &__list-item {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.aside {

  background-color: lighten($js-yellow, 10%);

}

.footer {
  background-color: darken($js-yellow, 15%);
}

a:link {
  color: $standard-black;
  text-decoration: underline;
}

a:visited {
  color: $standard-black;
  text-decoration: underline;
}

a:hover {
  color: $standard-black;
  text-decoration: none;
}
