/* Style things mostly using the BEM pattern */

body {
  overflow-x: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.nav {

  &__header{
    position: absolute;

    @include ti;
  }

  &__list-item {
    list-style-type: none;
  }

}


.content {
  &__about-header {
    position: absolute;

    @include ti;
  }
  &__about-header {

  }

  &__example-header {

  }
}

.examples {

  padding-left: 0;

  &__list-item {
    margin-bottom: 10px;
    list-style-type: none;
  }

}
a:link {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: none;
}