/* Style things mostly using the BEM pattern */

@media (max-width: 767px) {

  .container {
    margin: 0 10px;
  }

  .header {
    margin-top: 16px;

    &__logo {
      width: 150px;
      width: 150px;
      margin: 0 auto;
      display: block;
    }

    &__title {
      position: absolute;

      @include ti;
    }

    &__subtitle {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

  /* Stop ".page-modal"...BEM style */