/* Style things mostly using the BEM pattern */

@media (max-width: 767px) {

  .container {

  }

  .header {
    background-color: $js-yellow;

    &__logo {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: block;
    }

    &__logo-link {
      padding: 14px 0 20px;
      display: block;
    }

    &__title {
      position: absolute;

      @include ti;
    }

    &__subtitle {
      margin: 0 14px;

      font-size: 16px;
      font-weight: 300;
    }
  }

  .nav {

    padding-bottom: 4px;

    &__list {
      padding: 0;
      margin: 20px auto 20px;
      text-align: center;
    }

    &__list-item {
      margin: 0 10px;
      display: inline-block;
    }
  }

  .main {
    margin: 40px 10px 0;
  }

  .aside {
    padding: 10px 10px 20px;

    text-align: center;

    &__image {
      width: 100px;
      height: 100px;
      margin: 16px 0;

      border-radius: 50%;
      border: 1px solid #000;
    }
  }

  .content {

    &__example-header {
      font-size: 20px;
      text-align: center;
    }
  }


  footer {
    height:10px;
    margin-bottom:0;
    padding: 5px 0;
    position:fixed;
    right:0px;
    bottom:0px;
    left:0px;

    font-size: 12px;
    font-weight: 500;
  }
}

  /* Stop ".page-modal"...BEM style */