@media (min-width: 768px) {

  .header {
    width: 100%;

    &__logo {
      width: 150px;
      height: 150px;
    }

    &__inner-div {
      max-width: 700px;
      margin: 0 auto;
    }

    &__logo-image {
      width: 150px;
      height: 150px;
    }

    &__logo-link {
      margin-right: $shared-margin-value;
      padding-top: 30px;
      display: inline-block;
      position: relative;
      top: -3px;
      left: -18px;
    }

    &__subtitle {
      width: 300px;
      margin: 0 0 0 $shared-margin-value;
      display: inline-block;
      position: relative;
      top: -12px;
      bottom: 42px;
      left: 52px;
      font-size: 20px;
      line-height: $line-height;

      text-align: left;
    }

  }

  .nav {
    background-color: darken($js-yellow, 11%);
    &__list {
      padding: 20px 0;
    }
  }

  .main {
    min-width: 768px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .content {

    &__inner-container {
      max-width: 700px;
      margin: 0 auto;
    }

    &__about-text {
      margin: 10px auto;
    }

    &__about-page-text {
      margin: 10px 30px;
    }

    &--img {
      position: absolute;
    }

    &__article-wrapper {
      width: 300px;
      display: inline-block;
      position: relative;
      right: -410px;
    }

  }





  .aside {

    padding:20px 0 2px;
    text-align: center;

    &__image {
      width: 100px;
      height: 100px;
      display: inline-block;

      border-radius: 50%;
      border: 1px solid #000;
    }

    &__text {
      margin-left: 14px;
      display: inline-block;

      position: relative;
      top: -43px;

    }

  }

}