@media (min-width: 768px) {

  .header {
    width: 100%;

    &__logo {
      width: 200px;
      height: 200px;
    }

    &__logo-image {
      width: 200px;
      height: 200px;
    }

    &__logo-link {
      margin-right: $shared-margin-value;
      padding-top: 30px;
      display: inline-block;
    }

    &__subtitle {
      width: 300px;
      margin: 0 0 0 $shared-margin-value;
      display: inline-block;
      position: relative;
      bottom: 42px;

      font-size: 20px;
      line-height: $line-height;
      text-align: left;
    }

  }

  .nav {

    &__list {
      padding-bottom: 20px;
    }
  }

  .content {

    &__inner-container {
      max-width: 700px;
      margin: 0 auto;
    }

    &__about-text {
      width: 768px;
      margin: 40px auto;
      padding: 0 40px;
    }

    &--img {
      position: absolute;
    }

    &__article-wrapper {
      width: 300px;
      display: inline-block;
      position: relative;
      right: -410px;
    }

  }

  .aside {
    height: 150px;

    &__image {
      width: 100px;
      height: 100px;
      margin: 16px 0;

      border-radius: 50%;
      border: 1px solid #000;
    }

  }

}