/* Variables */

/* Global yellow color */
$js-yellow: #f9e034;

/* Shared margin value for header elements on wide view */
$shared-margin-value: 60px;

/* Globally-shared line-height value */
$line-height: 1.4em;