doctype html
include partials/head.jade
  body
    .container
      include partials/header.jade
      main#content.content-class.col-md-9
        section#targetEl.container
      include partials/footer.jade
      include partials/modal.jade
      include partials/scripts.jade
