doctype html
meta(charset='utf-8')
include partials/head.jade
  body
    .container
      include partials/header.jade
      main.right-column
        section#targetEl.article-container
      include partials/footer.jade
      include partials/modal.jade
      include partials/scripts.jade
