div.left-column
  header.header
    button(type="button" id="mobile-menu" class="mobile-menu")
      span.mobile-menu--bar
      span.mobile-menu--bar
      span.mobile-menu--bar
    img(src="img/js-logo.png" alt="Logo for the JavaScript Canon" id= "logo" class="header__logo")
    div.header__innerText
      h1.header--headerTitle The JavaScript Canon
      h2.header--subheaderTitle
        | Top-notch JavaScript learning resources curated by <a href="http://twitter.com/kaidez" class="gl-twitter-link">@kaidez</a>
    nav.nav
      h2.filter-text
        | FILTER RESOURCE TYPES
      ul.resource-links-list
        li.resource-links-list__list_item
          a(id="btn-show-all" class="btn-show-all-class")
            | Show All Types

