header#header.header-logo
  h1.h1-class.gl-header-class The JavaScript Canon
  hr.gl-hr.gl-header-class
  h2.subheader.gl-header-class
   | A list of the best JavaScript learning resources curated by 
   a(href="http://twitter.com/kaidez" class="gl-twitter-link") @kaidez
  button(type="button" id="mobile-menu" class="mobile-menu-button")
    span.mobile-menu-bar
    span.mobile-menu-bar
    span.mobile-menu-bar
nav.gl-nav-class
  button(id="btn-show-all" class="btn btn-default btn-resource")
    | Show All Types

