div.left-column.col-md-3
  header.header
    img(src="img/js-logo.svg" alt="Logo for the JavaScript Canon" id= "logo" class="header__logo")
    div#inner-header.header__text
      h1#h1-text.inner-header__header-text The JavaScript Canon
      h2.inner-header__subheader-text
        | A list of the best JavaScript learning resources curated by
        a(href="http://twitter.com/kaidez" class="gl-twitter-link") @kaidez
      button(type="button" id="mobile-menu" class="mobile-menu-button")
        span.mobile-menu-bar
        span.mobile-menu-bar
        span.mobile-menu-bar
    nav#nav.nav-class
      div#btn-container-element.btn-container
        span.filter-text
          | FILTER RESOURCE TYPES
        button(id="btn-show-all" class="btn btn-default btn-show-all-class")
          | Show All Types

