header#header.header-class
  img(src="img/js-logo.png" alt="Logo for the JavaScript Canon" id= "logoEl" class="header-element logo")
  div.header-element
    h1#header-text.h1-class The JavaScript Canon
    hr.custom-hr
    h2.subheader
     | A list of the best JavaScript learning resources curated by 
     a(href="http://twitter.com/kaidez" class="gl-twitter-link") @kaidez
  //
    button(type="button" id="mobile-menu" class="mobile-menu-button")
      span.mobile-menu-bar
      span.mobile-menu-bar
      span.mobile-menu-bar
nav.nav-class
  button(id="btn-show-all" class="btn btn-default btn-show-all-class")
    | Show All Types

