div#page-modal.page-modal-element
	div.page-modal__top-slide.page-modal__slide
	div.page-modal__bottom-slide.page-modal__slide
	div.page-modal-element--content
		h2 Why is this book good?
		div.content
