div#page-modal.page-modal-element
	div.page-modal__top-slide.page-modal__slide
	div.page-modal__bottom-slide.page-modal__slide
	div.page-modal-element__container
		h2.page-modal-element__header Why is this book good?
		a(class="page-modal-element__button") close window
		div
			h3.page-modal-element__title
			div.page-modal-element__content.js-modal-content