<head>
  <title>The JavaScript Canon - <%= pageTitle %></title>
  <meta name="description" content="The plain, non-framework Vanilla JS Version of the JavaScript Canon...written in MVC">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta name="robots" content="noodp"/>
  <link rel="canonical" href="http://jscanon.io/<%= canonical %>"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="kaidez - Tutorials &amp; Articles about Web Development"/>
  <meta property="og:description" content="The plain, non-framework Vanilla JS Version of the JavaScript Canon...written in MVC"/>
  <meta property="og:url" content="http://jscanon.io/<%= canonical %>"/>
  <meta property="og:site_name" content="kaidez"/>
  <link href="/css/style.css" media="all" rel="stylesheet">
</head>
