/*
 * HELPER CLASSES
 */

// Use the old school Yahoo trick for hiding page elements
// Read more at: http://yhoo.it/1vz3NVW
@mixin hide-element {
  clip: rect(1px 1px 1px 1px);
  position: absolute;
}


/* Off-screen text-indent */
@mixin ti {
  position: absolute;

  text-indent: -9999px;
}

// z-index mixins
// 5 or less should be fine, but plugin code may mean more are required
// WordPress can also get crazy with z-indexes (e.g. "z-index: 9999")
@mixin z1 {
  z-index: 1;
}

@mixin z2 {
  z-index: 2;
}

@mixin z3 {
  z-index: 3;
}

@mixin z4 {
  z-index: 4;
}

@mixin z5 {
  z-index: 5;
}

/*
 * HELPER CLASSES END
 */

@mixin mobile-element {
  margin: 0 auto;
  max-width: $shared-mobile-element-width;
}
