<!DOCTYPE html>
	<meta charset="utf-8">
	<head><% include partials/head.ejs %></head>
	<body>
  	<div class="container">
      <% include partials/header.ejs %>
      <main class="right-column">
      	<section id="targetEl" class="single-resource-container">
      	</section> <!-- #targetEl -->
      </main>
      <% include partials/footer.ejs %>
      <% include partials/scripts.ejs %>
     </div>
  </body>
</html>