/* Generic fade in and fade out animations...pretty reusable */

/* For Webkit */
@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

/* For other browsers */
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

/* Stop fade in/fade out animations */



/* Very specific animations for scaling the logo in and out on mobile
 * devices
 */

 /* For Webkit */
 @-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1) translateY(0px);
  }

  to {
    -webkit-transform: scale(0.6) translateY(-22px);
  }
}



@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0.6) translateY(-22px);
  }

  to {
    -webkit-transform: scale(1) translateY(0px);
  }
}

/* For other browsers */
@keyframes scaleOut {
  from {
    transform: scale(1) translateY(0px);
  }

  to {
    transform: scale(0.6) translateY(-22px);
  }
}


@-webkit-keyframes scaleUp {
  from {
    transform: scale(0.6) translateY(-22px);
  }

  to {
    transform: scale(1) translateY(0px);
  }
}

/* Stop header scaling animations */


/* Very specific animations for moving the title up and down on mobile 
 * devices
 */

 @-webkit-keyframes moveHeaderUp {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px);
  }
}


@-webkit-keyframes moveHeaderDown {
  from {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px);
  }

  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* Stop title moving animations */