doctype html
meta(charset='utf-8')
include partials/head.pug
body
  .container
      include partials/header.pug
      main.right-column
        section#targetEl.single-resource-container
      include partials/footer.pug
      include partials/modal.pug
      include partials/scripts.pug