<!DOCTYPE html>
	<meta charset="utf-8">
	<head><% include partials/head.ejs %></head>
	<body>
  	<div class="container">
      <head><% include partials/header.ejs %></head>
      <main class="right-column">
        <div class="page-modal__container">
        <% links.forEach(function(item) { %>
          <h2 class="page-modal__header">Why is <em><%= item.title %></em> good?</h2>
        <% }); %>
        </div> <!-- .page-modal__container -->
      </main>
      <% include partials/footer.ejs %>
      <% include partials/scripts.ejs %>
     </div>
  </body>
</html>