<!DOCTYPE html>
	<meta charset="utf-8">
	<head><% include partials/head.ejs %></head>
	<body>
  	<div class="container">
      <head><% include partials/header.ejs %></head>
      <main class="right-column">

      <% titles.forEach(function(item) { %>
        <h1><%= item.title %></h1>
      <% }); %>

      </main>
      <% include partials/footer.ejs %>
      <% include partials/scripts.ejs %>
     </div>
  </body>
</html>