<!DOCTYPE html>
	<meta charset="utf-8">
	<head><% include partials/head.ejs %></head>
	<body>
  	<div class="container">
      <% include partials/header.ejs %>
      <main class="right-column">
        <section class="single-resource-container">

        </section> <!-- .page-modal__container -->
      </main> <!-- .right-column -->
      <% include partials/footer.ejs %>
      <% include partials/scripts.ejs %>
    </div> <!-- .container -->
  </body>
</html>